@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url(/Waken/static/fonts/doris-vf.woff2) format('woff2');
}

@font-face {
    font-family: 'Iran Marker';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Waken/static/fonts/IRANMarker.woff2) format('woff2');
}

:root {
    --c-falch: #ead44c;
    --c-waken: #9a7e84;
    --c-waken-l: #bc9ea4;
    --c-black: #111111;
    --c-text: #212121;
    --c-white: #fcfcfc;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: inherit;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--c-grey-l);
    color: var(--c-text-l);
    scrollbar-gutter: auto;
}

html[dir="ltr"] {
    font-family: 'Dosis', sans-serif;
}

html[dir="rtl"] {
    font-family: 'Iran Marker', sans-serif;
    font-size: 0.9em;
}

html[dir="rtl"] body {
    line-height: 2;
}

body {
    overflow: hidden;
}

.loaded body {
    overflow-y: auto;
    overflow-x: hidden;
}

a,
button {
    border: none;
    cursor: pointer;
    background: transparent;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}

.screen-reader-text {
    display: none;
}

img {
    max-width: 100%;
}

[hidden] {
    display: none;
}

p {
    font-size: 1em;
}

html[dir="rtl"] p {
    line-height: 1.75 !important;

}


body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--c-text);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--c-waken-l);
    border-radius: 6px;
}

/* End of HTML Reset */

@media only screen and (min-width:1200px) {
    body {
        font-size: 150%
    }
}

@media only screen and (min-width:2000px) {
    body {
        font-size: 200%
    }
}

[class*=flex] {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-wrap: wrap;
}

.waken-hero {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--c-black);
}

.waken-hero svg {
    text-align: center;
    width: 50vw;
    fill: #21212120;
    stroke: var(--c-waken);
    display: block;
    margin: 0 auto 8vh;
    stroke-width: 0.15em;
    animation: tracking-in-expand 1s steps(12, end) infinite alternate both;
}

@keyframes tracking-in-expand {
    0% {
        stroke-opacity: 0.01;
    }


    100% {
        stroke-opacity: 0.75;
    }
}


.waken-hero h2,
.waken-hero h3 {
    filter: blur(4px);
    transform: scale(1.5);
    opacity: 0;
    text-align: center;
}

.waken-hero h3 {
    font-weight: 350;
    margin-bottom: 0.5em;
}

.loaded .waken-hero svg {
    transition: all 0.5s ease;
    animation-play-state: paused;
    animation: none;
    fill: var(--c-waken-l);
    opacity: 1;
    stroke-width: 0;

}

.loaded .waken-hero h2,
.loaded .waken-hero h3 {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
    transition: all 0.75s ease-in-out;
    transition-delay: 0.25s;
    color: var(--c-white);
}

.loaded .waken-hero h2 {
    transition-delay: 0.9s;
}


.waken-animation {
    background-color: var(--c-black);
    position: relative;
}


.image-animation-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    --scale: 1;
    --position: 50%;
    -webkit-mask-image: url(assets/img/mask.webp);
    mask-image: url(assets/img/mask.webp);
    -webkit-mask-size: 400% 400%;
    mask-size: 400% 400%;
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;

}

.image-animation-container.reveal {
    animation: mask-playzero 1s 0s steps(1) forwards;
}

@keyframes mask-playzero {

    0% {
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }

    10% {
        -webkit-mask-position: 33.33% 0%;
        mask-position: 33.33% 0%;
    }

    14% {
        -webkit-mask-position: 66.66% 0%;
        mask-position: 66.66% 0%;
    }

    18% {
        -webkit-mask-position: 100% 0%;
        mask-position: 100% 0%;
    }

    22% {
        -webkit-mask-position: 0% 33.33%;
        mask-position: 0% 33.33%;
    }

    26% {
        -webkit-mask-position: 33.33% 33.33%;
        mask-position: 33.33% 33.33%;
    }

    30% {
        -webkit-mask-position: 66.66% 33.33%;
        mask-position: 66.66% 33.33%;
    }

    35% {
        -webkit-mask-position: 100% 33.33%;
        mask-position: 100% 33.33%;
    }

    40% {
        -webkit-mask-position: 0% 66.66%;
        mask-position: 0% 66.66%;
    }

    45% {
        -webkit-mask-position: 33.33% 66.66%;
        mask-position: 33.33% 66.66%;
    }

    50% {
        -webkit-mask-position: 66.66% 66.66%;
        mask-position: 66.66% 66.66%;
    }

    55% {
        -webkit-mask-position: 100% 66.66%;
        mask-position: 100% 66.66%;
    }

    60% {
        -webkit-mask-position: 0% 100%;
        mask-position: 0% 100%;
    }

    65% {
        -webkit-mask-position: 33.33% 100%;
        mask-position: 33.33% 100%;
    }

    70% {
        -webkit-mask-position: 66.66% 100%;
        mask-position: 66.66% 100%;
    }

    75%,
    100% {
        -webkit-mask-position: 100% 100%;
        mask-position: 100% 100%;
    }
}

.img-sequence {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: sticky;
    object-fit: cover;
    z-index: 5;
    transform-origin: left;
    overflow: hidden;
    transform: scale(var(--scale));
    object-position: var(--position);
    will-change: transform;
}

.loaded .img-sequence {
    display: none;
}

.loaded .img-sequence.show {
    display: block;
    z-index: 10;
}

.waken-hero-animation {
    position: relative;
}

.waken-info {
    padding-top: 250vh;
    padding-bottom: 15vh;
    position: relative;
    z-index: 30;
}

.waken-info .waken-info-contents {
    width: clamp(300px, 80%, 1200px);
    max-width: 90%;
    margin: auto;
    background-color: #9a7e8494;
    padding: 2em 0;
    border-radius: 1em;
    box-shadow: 0 3px 5px 0px var(--c-black);
    backdrop-filter: blur(18px);
}

.waken-info .waken-info-contents .content-item:not(:last-child) {
    margin-bottom: 3em;

}

h2.title {
    color: var(--c-waken);
    margin-bottom: 1.25em;
    padding: .25em 1em;
    background: var(--c-falch);
    border-radius: 0.33em 0.33em 0.33em 0.33em;
    display: inline-block;
    box-shadow: 0 1px 5px -2px var(--c-black);
}


.waken-info .waken-info-contents p {
    color: var(--c-white);
    padding: 0 2.1em;
}

.waken-info .waken-info-contents .content-item .cast-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item {
    flex: 1 0 250px;
    text-align: center;
    margin-bottom: 1em;
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin-bottom: 0.5em;
    box-shadow: 0 2px 6px -1px var(--c-black);
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item h3 {
    color: var(--c-white);
    margin-bottom: 0.25em;
}

html[dir="rtl"] .waken-info .waken-info-contents .content-item .cast-wrapper .cast-item h3 {
    margin-bottom: -0.25em;
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links {
    margin-top: 1em;
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a {
    width: 2.25em;
    height: 2.25em;
    border-radius: 0.25em;
    border: 1px solid var(--c-icon);
    transition: 0.25s ease-in-out;
    margin: 0.25em 1em;
    padding: 0 0.25em;
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a:hover,
.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a:active {
    background-color: var(--c-icon);

}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a svg {
    width: 100%;
    height: 100%;
    transition: 0.25s ease-in-out;
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a:hover svg path,
.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item .cast-links a:active svg path {
    fill: var(--c-white);
}

.waken-info .waken-info-contents .content-item .cast-wrapper .cast-item h4 {
    color: var(--c-falch);
    font-weight: 400;
}

.crew-info,
.waken-synopsis,
.waken-trailer,
.waken-links {
    position: relative;

}

.crew-info .background,
.waken-synopsis .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(0);
}

.crew-info .background img,
.waken-synopsis .background img {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.crew-info .content,
.waken-synopsis .content,
.waken-trailer .content,
.waken-links .content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 2em 0;
    min-height: 100vh;
    position: relative;
}

.crew-info .content .title,
.waken-synopsis .content .title {
    display: block;
    margin: 0;
    border-radius: 0.75em 0.75em 0 0;

}

html[dir="rtl"] .crew-info .content .title,
html[dir="rtl"] .waken-synopsis .content .title {
    line-height: 1.5;
}

.crew-info .crew-items table,
.waken-synopsis .content .text-wrapper {
    backdrop-filter: blur(6px) grayscale(1) brightness(0.5);
    padding: 1.5em;
    background: #ead44c2b;
    width: 100%;
    border-radius: 0 0 0.75em 0.75em;
}

.crew-info .crew-items table tr {}

.crew-info .crew-items table tr td {
    padding: 0.25em 0.5em 0.75em;
}

.crew-info .crew-items table tr td:nth-child(1) {
    color: var(--c-waken);
    font-weight: 600;
}

.crew-info .crew-items table tr td:nth-child(2) {
    color: var(--c-white);
    font-weight: 800;
    letter-spacing: 0.025em;
}

.waken-synopsis {}

.waken-synopsis .content .title {
    width: 50%;
    margin: auto;
}

.waken-synopsis .content .text-wrapper {
    background-color: #fcfcfc2b;
    backdrop-filter: blur(1px) brightness(0.5);

}

.waken-synopsis .content .text-wrapper p {
    line-height: 1.25;
    margin-bottom: 1.25em;
    color: var(--c-white);
}

.plyr--video {
    border-radius: 6px;
    position: relative;
    z-index: 30;
    cursor: pointer;
    aspect-ratio: 1.89/1;
    max-height: 90vh;

    margin: auto;

    --plyr-color-main: var(--c-falch);
    --plyr-captions-text-color: var(--c-white);
    --plyr-range-fill-background: var(--c-waken);
}

html[dir="ltr"] .plyr--video {
    font-family: "Dosis";
}

html[dir="rtl"] .plyr--video {
    font-family: "Iran Marker";
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
    background-size: cover;
}

.waken-trailer .content {
    width: 100%;
    max-width: 95%;
    min-height: unset;
}

.waken-links {
    background-color: var(--c-black);
}

.waken-links .falch-logo {}

.waken-links .falch-logo img {
    display: block;
    margin: auto;
    padding: 1em;
    max-width: 200px;
    width: 80%;
}

.waken-links .content {
    min-height: unset;
}

.waken-links a {
    padding: 0.5em 1em;
    background: var(--c-text);
    color: var(--c-white);
    margin: 1em auto;
    border-radius: 0.5em;

    transition: all 0.45s ease-in-out
}

html[dir="rtl"] .waken-links a {
    font-size: 0.8em;
}

.waken-links a:hover,
.waken-links a:active {
    background: var(--c-falch);
    color: var(--c-text);
}

.waken-links a .svg-icon {
    margin-right: 0.35em;
}

html[dir="rtl"] .waken-links a .svg-icon {
    margin-right: 0;
    margin-left: 0.35em;
}

.waken-links a .svg-icon svg {
    transition: all 0.3s ease-in-out;
    fill: var(--c-falch);
    width: 1em;
    height: 1em;
}

html[dir="rtl"] .waken-links a .svg-icon svg {
    width: 1.5em;
    height: 1.25em;
}

.waken-links a:hover .svg-icon svg,
.waken-links a:active .svg-icon svg {
    fill: var(--c-text);
}

.waken-links h2 {
    font-size: 1em;
    font-weight: 300;
}